<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856286042200-kr0ri80js0dvqcf5jvc8c3v6m83bbo97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856286042200-kr0ri80js0dvqcf5jvc8c3v6m83bbo97</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856286042200-15n47bb49h7l3tchh69ak5incv15n4lo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALU_rtBceCYwr5AuNgxOHZtHs5WQw92UA</string>
	<key>GCM_SENDER_ID</key>
	<string>856286042200</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fullcircle.app</string>
	<key>PROJECT_ID</key>
	<string>fullcircle-3d01a</string>
	<key>STORAGE_BUCKET</key>
	<string>fullcircle-3d01a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856286042200:ios:52612b98b4294dc487522d</string>
	<key>DATABASE_URL</key>
	<string>https://fullcircle-3d01a-default-rtdb.firebaseio.com</string>
</dict>
</plist>